<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if images %}
        <ul>
        {% for image in images %}
            <li><img src="{{ imageview.thumbnail.url }}"><a href="{{ imageview.imagefile.url }}">{{ imageview.imagefile.name }}</a></img></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Images.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.imagefile.label_tag }} {{ form.imagefile.help_text }}</p>
            <p>
                {{ form.imagefile.errors }}
                {{ form.imagefile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html> 