{% extends 'imageview/base.html' %}
{% block content %}
    <h1>Overview
        <small>
            // {{ object_list|length }} images in the DB. <a href="{% url 'upload' %}">Upload a new image.</a>
        </small>
    </h1>
    {% for image in object_list %}
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{ image.image_file.url }}"><img src="{{ image.thumbnail.url }}"
                                                              class="img-responsive img-rounded"/></a>
                </div>
                <div class="panel-footer">
                    {% for tag in image.tags.all %}
                        <span class="label label-default">{{ tag|lower }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}